.shop {
    height: auto !important;
    margin-top: 0 !important;
    margin-bottom: 5vh;
}

#items {
    margin-left: 5vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    color: #ffffff;
}

p {
    display: inline-block;
    text-align: left !important;
    color: #dddddd;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 5vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.amount {
    float: right;
    margin-right: 5vw;
}

.price {
    float: right;
    font-weight: bold;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}

