.menu {
    background-color: #313131;
    width: 30vw;
    height: 75vh;
    float: right;
    margin-right: 10vw;
    border-radius: 10px;
}

.listMenu {
    text-decoration: none;
    text-align: center;
    padding-left: 0;
}

button.confirm {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px;
    width: 10vw;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid #313131;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.confirm:hover {
    background-color: coral; 
    color: white;
    border: 0px;
}

button.category {
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    margin-top: 0;
    width: 10vw;
    height: 7vh;
    border-radius: 5px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.categories {
    background-color: #313131;
    width: 45vw;
    height: 10vh;
    float: left;
    margin-left: 10vw;
    border-radius: 10px;
}

.shop {
    background-color: #313131;
    width: 45vw;
    display: flex;
    float: left;
    margin-left: 10vw;
    border-radius: 10px;
    margin-top: 5vh;
}

.item {
    background-color: coral; 
    width: 10vw;
    height: 30vh;
    border-radius: 5px;
    margin-left: 3.5vw;
    margin-top: 15vh;
    display: inline-block;
}

